name: PHP Code Checks

on:
  workflow_call:
    inputs:
      php-version:
        required: true
        type: string
      composer:
        required: false
        type: string
    secrets:
      IGNITER_CARTE_KEY:
        required: false

jobs:
  php-code-check:
    name: 'PHP Code Check ${{ inputs.php-version }}'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout changes
        uses: actions/checkout@v6

      - name: Rector Cache
        uses: actions/cache@v4
        with:
          path: /tmp/rector
          key: ${{ runner.os }}-rector-${{ github.run_id }}
          restore-keys: ${{ runner.os }}-rector-

      - run: mkdir -p /tmp/rector

      - name: Setup PHP ${{ inputs.php-version || '8.3' }}
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ inputs.php-version || '8.3' }}
          extensions: dom, curl, xml, mbstring, zip, pdo, sqlite, bcmath, soap, intl, gd
          tools: composer:v2
          coverage: none

      - name: Configure composer authentication
        env:
          CARTE_KEY: ${{ secrets.IGNITER_CARTE_KEY }}
        if: env.CARTE_KEY != ''
        run: composer config http-basic.composer.tastyigniter.com IgniterLabs "$CARTE_KEY"

      - name: Set composer version to avoid conflicts
        if: github.head_ref != 'master' && github.head_ref != 'main' && github.head_ref != '4.x'
        run: composer config version 4.0.x-dev

      - name: Install composer dependencies
        run: composer ${{ inputs.composer || 'update --no-interaction --no-progress' }}

      - name: Remove composer version after use
        if: github.head_ref != 'master' && github.head_ref != 'main' && github.head_ref != '4.x'
        run: composer config --unset version

      - name: Run PHP Linting
        run: composer test:lint

      - name: Run PHP Rector
        run: composer test:refactor

      - name: Run PHP Static Analysis
        run: composer test:static
