name: PHP Linting (Pint)

on:
  workflow_call:
    inputs:
      php-version:
        required: false
        type: string
      composer:
        required: false
        type: string
      commit-file-pattern:
        required: false
        type: string
    secrets:
      IGNITER_CARTE_KEY:
        required: false

jobs:
  php-lint:
    name: PHP Linting (Pint)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ inputs.php-version || '8.3' }}
          tools: composer:v2
          coverage: none

      - name: Configure composer authentication
        env:
          CARTE_KEY: ${{ secrets.IGNITER_CARTE_KEY }}
        if: env.CARTE_KEY != ''
        run: composer config http-basic.composer.tastyigniter.com IgniterLabs "$CARTE_KEY"

      - name: Set composer version to avoid conflicts
        if: github.head_ref != 'master' && github.head_ref != 'main' && github.head_ref != '4.x'
        run: composer config version 4.0.x-dev

      - name: Install composer dependencies
        run: composer ${{ inputs.composer || 'install --no-interaction --no-progress --no-scripts' }}

      - name: Remove composer version after use
        if: github.head_ref != 'master' && github.head_ref != 'main' && github.head_ref != '4.x'
        run: composer config --unset version

      - name: Run Laravel Pint
        run: composer test:lint

      - name: Commit changes
        uses: stefanzweifel/git-auto-commit-action@v7
        with:
          commit_message: PHP Linting (Pint) - Fix styling
          file_pattern: ${{ inputs.commit-file-pattern || './' }}
